{% extends "dictionary/base.html" %}
{% load static %}

<head>
    <title>Quiz</title>
</head>

{% block content %} 

<h1>Word Quiz {{ question_number }} / 5</h1>
<hr>

<form action="{% url 'dictionary:answer' %}" method="post">
    {% csrf_token %}
    {% for choice in question.2 %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="choices" id="choice{{ forloop.counter }}" value="{{ choice }}">
            <label class="form-check-label" for="choice{{ forloop.counter }}">
                {{ choice }}
            </label>
        </div>
    {% endfor %}
    <button class="btn btn-primary mt-4">次へ</button>
</form>

{% for i in question.1 %}
<p>{{ i }}</p>
{% endfor %}





{% endblock %}      
